.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to occupy the full viewport height */
  }
  
  .form-container {
    width: 400px; /* Set a specific width for the form container */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .login-link {
    color: #163ad8; /* White text color */
    text-decoration: underline; /* Underline the link */
    transition: color 0.3s, font-weight 0.3s; /* Smooth transition for color and font-weight */
}
  
  
  .login-link:hover {
    color: #e02525b0;/* Change color on hover */
    font-weight: bold;
  }
  

  .custom-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  